#wrapper {
  width: 800px;
  border: 1px solid #ccc;
  color: black;
}

.title {
  color: #009294;
  font-weight: bold;
}

.specialtext {
  font-size: 12pt;
  font-weight: bold;
  color: #ff0000;
}

.notes {
  font-size: 11pt;
  font-style: italic;
  color: #04b604;
}

.subp {
  border: 1px solid #000;
  font-weight: bold;
  font-style: italic;
}

.text-links {
  color: #000000;
  font-size: 12pt;
  text-decoration: none;
}

.text-links:hover {
  text-decoration: underline;
  color: #e57b09;
}
